@import '~node_modules/modern-normalize/modern-normalize.css';
@font-face {
  font-family: "Roboto";
  src: url("/src/fonts/Roboto-Regular.ttf") format("ttf");
}
@font-face {
  font-family: "Roboto";
  src: url("/src/fonts/Roboto-Bold.ttf") format("ttf");
}
:root {
  --main-title-color: #ffffff;
  --main-btn-color: #01383A;
  --main-card-color: #86E543;
  --main-text-color: #ffffff;
  --second-title-color: #86E543;
  --second-btn-color: #86E543;
  --second-card-color: #8D9289;
  --second-text-color: #86E543;
  --contact-text-color: #8D9289;
  --data-text-color: #8D9289;
  --placeholder-color: #ffffff;
  --background-color: #01383A;
  --footer-background-color: #001414;
  --icon-background-color:#ffffff;
  --icon-fill: #001414;
  --accent-fill: #86E543;
  --accent-color: #86E543;
  --cubic-bezier: 200ms cubic-bezier(.28, .71, .98, .66);
  --main-font: "Roboto", sans-serif;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

ol {
  margin: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

a {
  color: currentColor;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  width: 100%;
}

body {
  font-family: var(--main-font);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.no-scroll {
  overflow: hidden;
}

.container {
  width: 100%;
  padding-left: 40px;
  padding-right: 40px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
  }
}

.container-article {
  background-color: var(--background-color);
  color: var(--main-title-color);
  padding-bottom: 0px;
}
@media screen and (min-width: 768px) {
  .container-article {
    padding-bottom: 24px;
  }
}
@media screen and (min-width: 1280px) {
  .container-article {
    padding-bottom: 120px;
  }
}

.conva {
  background-image: url("../images/blog-article-vector-27-mobile.png"), url("../images/blog-article-vector-26-mobile.png");
  padding-top: 40px;
  width: 480px;
  height: 110px;
  margin: 0 auto;
  background-size: 320px, 320px;
  background-repeat: no-repeat;
  background-position: top 70px left 0px, top 66px left 0px;
  background-color: #01383A;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .conva {
    background-image: url("../images/blog-article-vector-27-mobile-2x.png"), url("../images/blog-article-vector-26-mobile-2x.png");
  }
}
@media screen and (min-width: 768px) {
  .conva {
    padding-top: 120px;
    width: 768px;
    height: 280px;
    background-image: url("../images/blog-article-vector-22-tablet.png"), url("../images/blog-article-vector-24-tablet.png"), url("../images/blog-article-vector-22-tablet-2x.png"), url("../images/blog-article-vector-24-tablet-2x.png");
    background-size: 768px, 768px;
    background-repeat: no-repeat;
    background-position: top 232px left 0px, top 225px left 0px, top 232px left 0px, top 225px left 0px;
  }
}
@media screen and (min-width: 1280px) {
  .conva {
    padding-top: 112px;
    width: 1280px;
    height: 230px;
    background-image: url("../images/blog-article-vector-22-desktop.png"), url("../images/blog-article-vector-24-desktop.png"), url("../images/blog-article-vector-22-desktop-2x.png"), url("../images/blog-article-vector-24-desktop-2x.png");
    background-size: 1280px, 1280px;
    background-repeat: no-repeat;
    background-position: top 182px left 0px, top 174px left 0px, top 182px left 0px, top 174px left 0px;
  }
}

.article-title {
  padding-left: 16px;
  font-family: "Roboto";
  font-style: normal;
  color: var(--main-title-color);
  line-height: 28px;
  font-weight: 600;
  font-size: 24px;
}
@media screen and (min-width: 768px) {
  .article-title {
    line-height: 56px;
    font-weight: 600;
    font-size: 56px;
    padding-left: 40px;
  }
}
@media screen and (min-width: 1280px) {
  .article-title {
    line-height: 56px;
    font-weight: 600;
    font-size: 56px;
    padding-left: 40px;
  }
}

.article-data {
  display: flex;
  padding-top: 124px;
  padding-bottom: 16px;
}
@media screen and (min-width: 1280px) {
  .article-data {
    padding-top: 16px;
    padding-bottom: 24px;
  }
}

.article-data-item1, .article-data-item2 {
  display: inline-block;
}

.article-data-item1 {
  font-weight: 600;
  font-size: 24px;
  line-height: 100%;
  /* identical to box height, or 24px */
  color: #86E543;
}
@media screen and (min-width: 768px) {
  .article-data-item1 {
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
  }
}

@media screen and (min-width: 768px) {
  .article-data-item2 {
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
  }
}
@media screen and (min-width: 1280px) {
  .article-data-item2 {
    margin-left: auto;
    font-weight: 600;
    font-size: 24px;
    line-height: 100%;
    /* identical to box height, or 24px */
    color: #8D9289;
  }
}

.article-text-p {
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #FFFFFF;
}

.article-game {
  display: flex;
  margin-bottom: 48px;
}

.article-photo {
  display: block;
  padding-top: 64px;
  border-radius: 12px;
  width: 320px;
  height: 228px;
}
@media screen and (min-width: 768px) {
  .article-photo {
    width: 387px;
    height: 228px;
    padding-top: 24px;
    border-radius: 12px;
  }
}
@media screen and (min-width: 1280px) {
  .article-photo {
    width: 387px;
    height: 336px;
    display: block;
    padding-top: 64px;
    border-radius: 12px;
  }
}

.article-text {
  width: 690px;
  margin-left: auto;
  display: block;
}

.article-text-ol {
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #86E543;
}

.article-margin-li {
  margin-left: 30px;
}

.footer {
  background: var(--footer-background-color);
  margin: 0 auto;
  padding-top: 25px;
  padding-bottom: 24px;
}
@media screen and (min-width: 768px) {
  .footer {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.footer-container {
  display: flex;
}
@media screen and (max-width: 480px) {
  .footer-container {
    padding-left: 16px;
    padding-right: 32px;
  }
}
@media screen and (max-width: 767px) {
  .footer-container {
    flex-direction: column;
  }
}

.footer-block {
  display: flex;
}
@media screen and (max-width: 767px) {
  .footer-block {
    margin-top: 25px;
  }
}

.footer-logo {
  line-height: 1.17;
  font-weight: 700;
  font-size: 24px;
  color: var(--main-title-color);
  display: block;
  text-align: center;
  max-width: 130px;
}
@media screen and (min-width: 768px) {
  .footer-logo {
    margin-right: 61px;
  }
}
@media screen and (min-width: 1280px) {
  .footer-logo {
    margin-right: 118px;
  }
}

.footer-menu-list {
  margin-bottom: 24px;
  display: flex;
  gap: 16px;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .footer-menu-list {
    margin-right: 89px;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1280px) {
  .footer-menu-list {
    margin-right: 217px;
  }
}

.footer-menu-item {
  line-height: 1;
  font-weight: 400;
  font-size: 16px;
  color: var(--main-text-color);
}

.footer-soc {
  margin-left: auto;
}

.footer-soc-list {
  display: flex;
  gap: 32px;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .footer-soc-list {
    flex-direction: row;
    gap: 16px;
    margin-right: 73px;
  }
}
@media screen and (min-width: 1280px) {
  .footer-soc-list {
    margin-right: 281px;
    flex-direction: column;
  }
}

.footer-soc-link {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: var(--icon-background-color);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: var(--cubic-bezier);
}
.footer-soc-link:hover {
  box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.5), 0px 0px 20px rgba(134, 229, 67, 0.1);
}
.footer-soc-link:focus {
  box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.5), 0px 0px 20px rgba(134, 229, 67, 0.1);
  outline: none;
}

.footer-soc-icon {
  fill: var(--icon-fill);
}
.footer-soc-link:hover .footer-soc-icon {
  fill: var(--accent-fill);
}
.footer-soc-link:focus .footer-soc-icon {
  fill: var(--accent-fill);
}

.footer-mail {
  margin-bottom: 16px;
}

.footer-contacts-text {
  line-height: 1.1875;
  font-weight: 400;
  font-size: 16px;
  color: var(--main-text-color);
  margin-bottom: 8px;
}

.footer-contacts-mail {
  line-height: 1.1875;
  font-weight: 400;
  font-size: 16px;
  color: var(--contact-text-color);
}

.footer-tel-item:not(:last-child) {
  margin-bottom: 8px;
}

.footer-contacts-tel {
  line-height: 1.1875;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.01em;
  color: var(--contact-text-color);
}/*# sourceMappingURL=blog-article.css.map */