@import '~node_modules/modern-normalize/modern-normalize.css';
@font-face {
  font-family: "Roboto";
  src: url("/src/fonts/Roboto-Regular.ttf") format("ttf");
}
@font-face {
  font-family: "Roboto";
  src: url("/src/fonts/Roboto-Bold.ttf") format("ttf");
}
:root {
  --main-title-color: #ffffff;
  --main-btn-color: #01383A;
  --main-card-color: #86E543;
  --main-text-color: #ffffff;
  --second-title-color: #86E543;
  --second-btn-color: #86E543;
  --second-card-color: #8D9289;
  --second-text-color: #86E543;
  --contact-text-color: #8D9289;
  --data-text-color: #8D9289;
  --placeholder-color: #ffffff;
  --background-color: #01383A;
  --footer-background-color: #001414;
  --icon-background-color:#ffffff;
  --icon-fill: #001414;
  --accent-fill: #86E543;
  --accent-color: #86E543;
  --cubic-bezier: 200ms cubic-bezier(.28, .71, .98, .66);
  --main-font: "Roboto", sans-serif;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

ol {
  margin: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

a {
  color: currentColor;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  width: 100%;
}

body {
  font-family: var(--main-font);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.no-scroll {
  overflow: hidden;
}

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--main-btn-color);
  transition: opacity 500ms linear, visibility 500ms;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal-cart {
  padding: 88px 80px;
  max-width: 768px;
  min-height: 524px;
  background-color: var(--main-btn-color);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: var(--cubic-bezier);
}
@media screen and (min-width: 480px) {
  .modal-cart {
    padding: 88px 40px;
    width: 688px;
    height: 524px;
  }
}

.modal-took-order {
  padding: 88px 80px;
  max-width: 768px;
  min-height: 524px;
  background-color: var(--main-btn-color);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: var(--cubic-bezier);
}
@media screen and (min-width: 480px) {
  .modal-took-order {
    padding: 88px 56px;
    width: 688px;
    height: 524px;
  }
}

.modal-contacts {
  padding: 88px 66px;
  max-width: 768px;
  min-height: 524px;
  background-color: var(--main-btn-color);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: var(--cubic-bezier);
}
@media screen and (min-width: 480px) {
  .modal-contacts {
    padding: 88px 26px;
    width: 688px;
    height: 524px;
  }
}

.modal-btn {
  width: 31px;
  height: 31px;
  border: 1.5px solid var(--second-btn-color);
  border-radius: 50%;
  background-color: var(--second-btn-color);
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  cursor: pointer;
}

.modal-text {
  line-height: 1.17;
  font-weight: 500;
  font-size: 56;
  text-align: center;
  margin-bottom: 56px;
  color: var(--main-text-color);
}

.modal-text-contacts {
  line-height: 1.17;
  font-weight: 500;
  font-size: 56;
  text-align: center;
  margin-bottom: 80px;
  color: var(--main-text-color);
}

.modal-text-order {
  line-height: 1.17;
  font-weight: 500;
  font-size: 56;
  text-align: center;
  color: var(--main-text-color);
}
@media screen and (min-width: 768px) {
  .modal-text-order {
    line-height: 1.17;
    font-weight: 500;
    font-size: 64;
    text-align: center;
    color: var(--main-text-color);
  }
}

.letsgo-btn {
  padding: 16px 82px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 306px;
  height: 50px;
  line-height: 1.18;
  font-weight: 700;
  font-size: 32;
  text-transform: uppercase;
  margin: 0 auto;
  color: var(--main-btn-color);
  background-color: var(--second-btn-color);
  cursor: pointer;
  border: none;
  border-radius: 16px;
  transition: var(--cubic-bezier);
}

.submit-btn {
  padding: 16px 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 306px;
  height: 50px;
  line-height: 1.18;
  font-weight: 700;
  font-size: 32;
  text-transform: uppercase;
  margin: 0 auto;
  color: var(--main-btn-color);
  background-color: var(--second-btn-color);
  cursor: pointer;
  border: none;
  border-radius: 16px;
  transition: var(--cubic-bezier);
}

.contacts-btn {
  padding: 16px 131px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 306px;
  height: 50px;
  line-height: 1.18;
  font-weight: 700;
  font-size: 32;
  text-transform: uppercase;
  margin: 0 auto;
  color: var(--main-btn-color);
  background-color: var(--second-btn-color);
  cursor: pointer;
  border: none;
  border-radius: 16px;
  transition: var(--cubic-bezier);
}

.container {
  width: 100%;
  padding-left: 40px;
  padding-right: 40px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
  }
}

.sale-title {
  font-family: var(--main-font);
  line-height: 1.1667;
  font-weight: 600;
  font-size: 24;
  color: var(--main-title-color);
  margin-left: 80px;
  margin-bottom: 35px;
}
@media screen and (min-width: 768px) {
  .sale-title {
    margin-left: 142px;
    line-height: 1.1785;
    font-weight: 600;
    font-size: 56;
  }
}

.sale {
  position: relative;
  display: flex;
  padding-bottom: 48px;
  background-image: url("/src/images/sale-vector-21-mobile.png"), url("/src/images/sale-vector-22-mobile.png"), url("../images/background-mobile.jpg");
  background-repeat: no-repeat;
  background-size: 320px, 320px, cover;
  background-position: top 28px left 0px, top 32px left 0px, center;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .sale {
    padding-bottom: 120px;
    background-image: url("../images/sale-vector-21-tablet.png"), url("../images/sale-vector-22-tablet.png"), url("../images/background-tablet.jpg");
    background-size: 768px, 768px, cover;
    background-position: top 66px left 0px, top 74px left 0px, center;
  }
}
@media screen and (min-width: 1280px) {
  .sale {
    width: 100%;
    background-image: url("../images/sale-vector-21-desktop.png"), url("../images/sale-vector-22-desktop.png"), url("../images/background-desktop-1.jpg");
    background-size: 1280px, 1280px, cover;
    background-position: top 66px left 0px, top 74px left 0px, center;
  }
}

@media screen and (min-width: 768px) {
  .sale-list {
    display: flex;
    flex-wrap: wrap;
    gap: 38px;
  }
}
@media screen and (min-width: 1280px) {
  .sale-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
}

.sale-item {
  display: block;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .sale-item {
    width: calc((100% - 38px) / 2);
  }
}
@media screen and (min-width: 1280px) {
  .sale-item {
    width: calc((100% - 60px) / 4);
  }
}

@media screen and (min-width: 480px) {
  .mobile-images {
    display: block;
  }
}
@media screen and (min-width: 768px) {
  .mobile-images {
    display: none;
  }
}
@media screen and (min-width: 1280px) {
  .mobile-images {
    display: none;
  }
}

@media screen and (min-width: 480px) {
  .tablet-images {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .tablet-images {
    display: block;
  }
}
@media screen and (min-width: 1280px) {
  .tablet-images {
    display: none;
  }
}

@media screen and (min-width: 480px) {
  .desktop-images {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .desktop-images {
    display: none;
  }
}
@media screen and (min-width: 1280px) {
  .desktop-images {
    display: block;
  }
}

.sale-image {
  width: 100%;
  align-items: center;
  border-radius: 12px;
  margin-bottom: 8px;
}

.price {
  margin-bottom: 44px;
  max-width: 285px;
}

.price-item {
  line-height: 1.18;
  font-weight: 600;
  font-size: 22;
  color: var(--accent-color);
  margin-bottom: 11px;
  width: 261px;
}

.sale-price {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: space-between;
}

.sale-before {
  line-height: 1;
  font-weight: 600;
  font-size: 14;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  color: #8D9289;
}

.sale-after {
  line-height: 1;
  font-weight: 600;
  font-size: 20;
  color: var(--accent-color);
}

.sale-button {
  line-height: 1.1875;
  font-weight: 700;
  font-size: 16;
  margin: 0 auto;
  color: var(--main-btn-color);
  padding: 16px 48px;
  display: block;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
}

.footer {
  background: var(--footer-background-color);
  margin: 0 auto;
  padding-top: 25px;
  padding-bottom: 24px;
}
@media screen and (min-width: 768px) {
  .footer {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.footer-container {
  display: flex;
}
@media screen and (max-width: 480px) {
  .footer-container {
    padding-left: 16px;
    padding-right: 32px;
  }
}
@media screen and (max-width: 767px) {
  .footer-container {
    flex-direction: column;
  }
}

.footer-block {
  display: flex;
}
@media screen and (max-width: 767px) {
  .footer-block {
    margin-top: 25px;
  }
}

.footer-logo {
  line-height: 1.17;
  font-weight: 700;
  font-size: 24px;
  color: var(--main-title-color);
  display: block;
  text-align: center;
  max-width: 130px;
}
@media screen and (min-width: 768px) {
  .footer-logo {
    margin-right: 61px;
  }
}
@media screen and (min-width: 1280px) {
  .footer-logo {
    margin-right: 118px;
  }
}

.footer-menu-list {
  margin-bottom: 24px;
  display: flex;
  gap: 16px;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .footer-menu-list {
    margin-right: 89px;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1280px) {
  .footer-menu-list {
    margin-right: 217px;
  }
}

.footer-menu-item {
  line-height: 1;
  font-weight: 400;
  font-size: 16px;
  color: var(--main-text-color);
}

.footer-soc {
  margin-left: auto;
}

.footer-soc-list {
  display: flex;
  gap: 32px;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .footer-soc-list {
    flex-direction: row;
    gap: 16px;
    margin-right: 73px;
  }
}
@media screen and (min-width: 1280px) {
  .footer-soc-list {
    margin-right: 281px;
    flex-direction: column;
  }
}

.footer-soc-link {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: var(--icon-background-color);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: var(--cubic-bezier);
}
.footer-soc-link:hover {
  box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.5), 0px 0px 20px rgba(134, 229, 67, 0.1);
}
.footer-soc-link:focus {
  box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.5), 0px 0px 20px rgba(134, 229, 67, 0.1);
  outline: none;
}

.footer-soc-icon {
  fill: var(--icon-fill);
}
.footer-soc-link:hover .footer-soc-icon {
  fill: var(--accent-fill);
}
.footer-soc-link:focus .footer-soc-icon {
  fill: var(--accent-fill);
}

.footer-mail {
  margin-bottom: 16px;
}

.footer-contacts-text {
  line-height: 1.1875;
  font-weight: 400;
  font-size: 16px;
  color: var(--main-text-color);
  margin-bottom: 8px;
}

.footer-contacts-mail {
  line-height: 1.1875;
  font-weight: 400;
  font-size: 16px;
  color: var(--contact-text-color);
}

.footer-tel-item:not(:last-child) {
  margin-bottom: 8px;
}

.footer-contacts-tel {
  line-height: 1.1875;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.01em;
  color: var(--contact-text-color);
}/*# sourceMappingURL=index.css.map */