@import './common';
@import './utils/vars';
@import './base/reset';
@import './utils/mixin';
@import './components/container';


@import './layouts/page-header';
@import './layouts/take-order-content';
@import './layouts/modal-buy';
@import './layouts/modal-add';
@import './layouts/page-footer';