:root {
    --main-title-color: #ffffff;
    --main-btn-color: #01383A;
    --main-card-color: #86E543;
    --main-text-color: #ffffff;

    --second-title-color: #86E543;
    --second-btn-color: #86E543;
    --second-card-color: #8D9289;
    --second-text-color: #86E543;

    --contact-text-color: #8D9289;
    --data-text-color: #8D9289;
    --placeholder-color: #ffffff;


    --background-color: #01383A;
    --footer-background-color: #001414;
    --icon-background-color:#ffffff;
    --icon-fill: #001414;
    --accent-fill: #86E543;
    --accent-color: #86E543;
    --backdrop-collor: rgba(0, 20, 20, 0.8);
    
    --cubic-bezier: 250ms cubic-bezier(0.4, 0, 0.2, 1);

    --main-font: 'Roboto', sans-serif;
}