<section class="contacts">
    <div class="contacts-div container">
      <h2 class="subtitle">Contacts</h2>
    <div class="contacts-image">
      <picture>
        <source
        srcset="
        ./images/contacts-desktop.jpg   1x,
        ./images/contacts-desktop-2x.jpg 2x
        "
        media="(min-width: 1280px)"
        >
        <source
        srcset="
        ./images/contacts-tablet.jpg   1x,
        ./images/contacts-tablet-2x.jpg 2x
        "
        media="(min-width: 768px)"
        >
        <source
        srcset="
        ./images/contacts-mobile.jpg   1x,
        ./images/contacts-mobile-2x.jpg 2x
        "
        media="(max-width: 767px)"
        >
        <img class="our-team__img"            
        src="./images/contacts-desktop.jpg"
        alt="бородатий мужик в окулярах"
        width="100%"                            
      />
      </picture>            
    </div>
    <div class="contacts-desktop">
      <div class="contacts-ul">
      <ul class="feedback">
      <li class="feedbac__text">
        <p>
          In case of queries about order handling and/or delay, drop us an email at
        </p>
      </li>
      <li class="feedbac__text"><p>info@shopforgamers.com</p></li>
    </ul>
    <ul class="contacts__list">
      <li class="contacts__link">
        <p class="contacts__p mail">Email</p>        
        <a class="contacts__avp" href="mailto:info@devstudio.com">sfg.info@gmail.com</a>
      </li>
      <li class="contacts__link">
        <p class="contacts__p text">Phone number</p> 
        <a class="contacts__auk" href="tel:+380936432288">+38 (093) 643 22 88</a>
        <a class="contacts__a" href="tel:+380503454423">+38 (050) 345 44 23</a>      
      </li>
    </ul>
    </div>    
    <form class="registr__form" name="registr-form">
      <h3 class="registr__form__title">CONTACT US</h3>
      <div class="registr__form__group" role="group">
        <label class="registr__field">
          <input
            type="text"
            class="registr__input"
            name="name"
            id="name"
            placeholder="Name"
            required
          />
        </label>
        <label class="registr__field">
          <input
            type="email"
            class="registr__input"
            name="email"
            id="email-id"
            placeholder="Email"
            required
          />
        </label>
        <label class="registr__field">
          <span class="registr__lable">Leave your message</span>
          <textarea
            class="registr__message"
            rows="5"
            placeholder=" "
          ></textarea>
        </label>
      </div>
      <button class="registr__btn" type="button" data-contacts-open>SEND</button>
    </form>
    </div>    
</section>
