<div class="all">
    <input checked type="radio" name="respond" id="desktop">
        <article id="slider">
                <input checked type="radio" name="slider" id="switch1">
                <input type="radio" name="slider" id="switch2">
                <input type="radio" name="slider" id="switch3">
            <div id="slides">
                <div id="overflow">
                    <div class="image">
                        <article class="slider-div">
                            <picture>
                            <source
                            srcset="
                            /src/images/baner-desktop-1.jpg   1x,
                            /src/images/baner-desktop-1-2x.jpg 2x
                            "
                            media="(min-width: 1280px)"
                            >
                            <source
                            srcset="
                            /src/images/baner-tablet-1.jpg   1x,
                            /src/images/baner-tablet-1-2x.jpg  2x
                            "
                            media="(min-width: 768px)"
                            >
                            <source
                            srcset="
                            /src/images/baner-mobile-1.jpg    1x,
                            /src/images/baner-mobile-1-2x.jpg 2x
                            "
                            media="(max-width: 767px)"
                            >
                            <img class=""            
                            src="/src/images/baner-desktop-1.jpg"
                            alt="baner-1"                        
                            />
                            </picture>
                            <p class="slider-text-baner-1">
                                One place for <br> everything you want
                            </p>
                        </article>
                        <article class="slider-div">
                            <picture>
                                <source
                                srcset="
                                /src/images/baner-desktop-2.jpg   1x,
                                /src/images/baner-desktop-2-2x.jpg 2x
                                "
                                media="(min-width: 1280px)"
                                >
                                <source
                                srcset="
                                /src/images/baner-tablet-2.jpg   1x,
                                /src/images/baner-tablet-2-2x.jpg  2x
                                "
                                media="(min-width: 768px)"
                                >
                                <source
                                srcset="
                                /src/images/baner-mobile-2.jpg    1x,
                                /src/images/baner-mobile-2-2x.jpg 2x
                                "
                                media="(max-width: 767px)"
                                >
                                <img class=""            
                                src="/src/images/baner-desktop-2.jpg"
                                alt="baner-2"                        
                            />
                            </picture>
                            <p class="slider-text-baner-2">Best shop for buying <br> GAMING PRODUCTS</p>
                        </article>
                        <article class="slider-div">
                            <picture>
                                <source
                                srcset="
                                /src/images/baner-desktop-3.jpg   1x,
                                /src/images/baner-desktop-3-2x.jpg 2x
                                "
                                media="(min-width: 1280px)"
                                >
                                <source
                                srcset="
                                /src/images/baner-tablet-3.jpg   1x,
                                /src/images/baner-tablet-3-2x.jpg  2x
                                "
                                media="(min-width: 768px)"
                                >
                                <source
                                srcset="
                                /src/images/baner-mobile-3.jpg    1x,
                                /src/images/baner-mobile-3-2x.jpg 2x
                                "
                                media="(max-width: 767px)"
                                >
                                <img class=""            
                                src="/src/images/baner-tablet-3.jpg"
                                alt="baner-3"                        
                            />
                            </picture>
                            <p class="slider-text-baner-3">High-quality products <br> in lowest price</p>
                        </article>
                    </div>
                </div>
            </div>
            <div id="controls">
                <label for="switch1"></label>
                <label for="switch2"></label>
                <label for="switch3"></label>
            </div>
            <div id="active">
                <label for="switch1"></label>
                <label for="switch2"></label>
                <label for="switch3"></label>
            </div>
        </article>
</div>