    <section class="hero">
      <div class="container container-hero">
        <div class="hero-tumb">
          <!-- <picture>
            <source srcset="./img/hero-mous-mobile.png 1x, ./img/hero-mous-mobile-2x.png 2x"
              media="(max-width: 767px)">
              <source srcset="./img/hero-mous-tablet.png 1x, ./img/hero-mous-tablet-2x.png 2x"
              media="(min-width: 768px)">
              <source srcset="./img/hero-mous-desktop.png 1x, ./img/hero-mous-desktop-2x.png 2x"
              media="(max-width: 1280px)"> -->
            <img
              class="hero__icon1"
              srcset="./images/hero-icon-mob1.png 1x, ./images/hero-icon-mob1-2x.png 2x"
              src="./images/hero-icon-mob1.png"
              alt="mouse"
              width="60"
            />
          <!-- </picture>
          <picture>
            <source srcset="./img/hero-headphones-mobile.png 1x, ./img/hero-headphones-mobile-2x.png 2x"
            media="(max-width: 767px)">
            <source srcset="./img/hero-headphones-tablet.png 1x, ./img/hero-headphones-tablet-2x.png 2x"
              media="(min-width: 768px)">
            <source srcset="./img/hero-headphones-desktop.png 1x, ./img/hero-headphones-desktop-2x.png 2x"
              media="(max-width: 1280px)"> -->
            <img
              class="hero__icon2"
              srcset="./images/hero-icon-mob2.png 1x, ./images/hero-icon-mob2-2x.png 2x"
              src="./images/hero-icon-mob2.png"
              alt="headphones"
              width="150"
            />
          <!-- </picture>
          <picture>
            <source srcset="./img/hero-keebord-mobile.png 1x, ./img/hero-keebord-mobile-2x.png 2x"
              media="(max-width: 767px)">
            <source srcset="./img/hero-keebord-tablet.png 1x, ./img/hero-keebord-tablet-2x.png 2x"
              media="(min-width: 768px)">
            <source srcset="./img/hero-keebord-desktop.png 1x, ./img/hero-keebord-desktop-2x.png 2x"
              media="(max-width: 1280px)"> -->
            <img
              class="hero__icon3"
              srcset="./images/hero-icon-mob3.png 1x, ./images/hero-icon-mob3-2x.png 2x"
              src="./images/hero-icon-mob3.png"
              alt="keyboard"
              width="88"
            />
          <!-- </picture> -->
        </div>
        <div class="hero-content">
          <h1 class="hero__title">
            Best shop <br class="title-br"/>
            for buying <br class="title-br"/>
            gaming products
          </h1>
          <button class="hero__btn" type="button">
            <a class="hero__link" href="#">Start shopping</a>
          </button>
        </div>
      </div>
    </section>
  </body>
</html>
