    <section class="hero">
      <div class="container container-hero">
        <div class="hero-tumb">
            <img
              class="hero__icon1"
              srcset="./images/hero-icon-mob1.png 1x, ./images/hero-icon-mob1-2x.png 2x"
              src="./images/hero-icon-mob1.png"
              alt="mouse"
              width="60"
            />
            <img
              class="hero__icon2"
              srcset="./images/hero-icon-mob2.png 1x, ./images/hero-icon-mob2-2x.png 2x"
              src="./images/hero-icon-mob2.png"
              alt="headphones"
              width="150"
            />
            <img
              class="hero__icon3"
              srcset="./images/hero-icon-mob3.png 1x, ./images/hero-icon-mob3-2x.png 2x"
              src="./images/hero-icon-mob3.png"
              alt="keyboard"
              width="88"
            />
        </div>
        <div class="hero-content">
          <h1 class="hero__title">
            Best shop <br class="title-br"/>
            for buying <br class="title-br"/>
            gaming products
          </h1>
          <a class="hero__link" href="/src/accessories-page.html">Start shopping</a>
          </button>
        </div>
      </div>
    </section>
  </body>
</html>
