<div class="backdrop hidden" data-contacts>
    <div class="modal">
        <button type="button" class="modal-btn" data-contacts-close>
            <svg class="modal-icon" width="12" height="12" >
                <use href="/src/images/icons.svg#icon-cros-modal"></use>
            </svg>
        </button>
        <div class="modal-content">
            <p class="modal-text">Thank you <br> for your message! <br> We will contact you soon! </p>
            <a class="contacts-btn" href="/src/index.html">ok</a>
        </div>
    </div> 
</div>