<div class="backdrop-add is-hidd" data-add>
    <div class="modal-add">
        <button type="button" class="modal-add-btn" data-add-close>
            <svg class="modal-icon" width="12" height="12" >
                <use href="/src/images/icons.svg#icon-cros-modal"></use>
            </svg>
        </button>
        <div class="modal-add-text">
            <p class="add-text">Excellent choice! <br> Let's move on to the checkout!</p>
            <a class="add-btn" href="/src/index.html">let's go!</a>
        </div>
    </div> 
</div>