<div class="backdrop-buy is-hid" data-buy>
    <div class="modal-buy">
        <button type="button" class="modal-buy-btn" data-buy-close>
            <svg class="modal-icon" width="12" height="12" >
                <use href="/src/images/icons.svg#icon-cros-modal"></use>
            </svg>
        </button>
        <div class="modal-buy-text">
            <p class="buy-text">Thank you <br> for your order! <br> We will contact you soon!</p>
            <a class="buy-btn" href="/src/accessories-page.html">keep shopping</a>
        </div> 
    </div>
</div>