
 <div class="backdrop is-hidden" data-modal>
<div class="modal">
    <button type="button" class="modal-btn" data-model-close>
       <svg class="modal-icon" width="11" height="11" >
        <use href="./images/icons.svg#icon-cros-modal"></use>
       </svg>
    </button>
<div class="modal-text-order">Excellent choice! 
    Let's move on to the checkout!</div>
    <button type="submit" class="letsgo-btn">Let's go!</button>
</div>
</div>


    <div class="backdrop" data modal>
<div class="modal">
    <button type="button" class="modal-btn" data-modal-close>
       <svg class="modal-icon" width="11" height="11" >
        <use href="./images/icons.svg#icon-cros-modal"></use>
       </svg>
    </button>
<div class="modal-text-order">Thank you for your order! We will contact you soon!</div>

    <button type="submit" class="submit-btn">keep shopping</button>
</div>
</div> 


    <div class="backdrop is-hidden" data-modal>
<div class="modal-contacts">
    <button type="button" class="modal-btn" data-model-close>
       <svg class="modal-icon" width="11" height="11" >
        <use href="./images/icons.svg#icon-cros-modal"></use>
       </svg>
    </button>
<div class="modal-text-contacts">Thank you for your message! We will contact you soon!</div>

    <button type="submit" class="contacts-btn">ok</button>
</div>
</div>


