<div class="backdrop is-hid" data-buy>
    <div class="modal-order1">
        <button type="button" class="modal-btn" data-buy-close>
           <svg class="modal-icon" width="11" height="11" >
            <use href="/src/images/icons.svg#icon-cros-modal"></use>
           </svg>
        </button>
    <div class="modal-order1-text">Excellent choice!
        Let's move on 
        to the checkout! </div>
        <button type="submit" class="letsgo-btn">Let's go!</button>
    </div> 
</div>
</div>