<header class="header">
	<div class="page-header container">
		<a class="header-logo" href="/src/index.html">SHOP FOR <br> GAMERS</a>
		<div>
			<div class="menu-desktop">
				<ul class="menu-nav">
			<li class="menu-nav__item">
				<a href="./accessories-page.html" class="menu-nav__link">accessories</a>
			</li>
			<li class="menu-nav__item">
				<a href="./contacts-page.html" class="menu-nav__link">contact</a>
			</li>
			<li class="menu-nav__item">
				<a href="./blog-page.html" class="menu-nav__link">blog</a>
			</li>
		</ul>
			</div>
			<button type="button" class="menu-close-btn " data-menu-button>
				<svg class="menu__icon-close" aria-label="перерключатель мобильного меню" width="54" height="36">
					<use class="icon-close" href="./images/icons.svg#icon-cross"></use>
					<use class="icon-open" href="./images/icons.svg#icon-menu"></use>
				</svg>
			</button>
		</div>
		<a class="btn-shop__link" href="./accessories-page.html">Shop now</a>		
	</div>
	<div class="menu is-hidden" data-menu>
		<ul class="menu-nav">
			<li class="menu-nav__item">
				<a href="./accessories-page.html" class="menu-nav__link">accessories</a>
			</li>
			<li class="menu-nav__item">
				<a href="./contacts-page.html" class="menu-nav__link">contact</a>
			</li>
			<li class="menu-nav__item">
				<a href="./blog-page.html" class="menu-nav__link">blog</a>
			</li>
		</ul>
	</div>	
</header>