<section class="sale container">
    <h2 class="sale-title">Sale</h2>
    <div class="common-images">
    <div class="mobile-images">
    <ul class="sale-list">
        <li class="sale-item">
            <a href="./take-order-page.html">
            <picture>
                <source srcset="./images/sale-1.jpg 1x , 
                ./images/sale-1-2x.jpg 2x"
                media="(min-width: 320px)">
                <img class="sale-image" src="./images/sale-1.jpg" alt="headphones">
            </picture>
            
            <div class="price">
                <p class="price-item">Xiberia K9 PRO PC Headset</p>
            </div>
            <ul class="sale-price">
                <li class="sale-before">65.14 USD</li>
                <li class="sale-after">55.14 USD</li>
            </ul>
        </a>
        </li>
    
        <li class="sale-item">
            <a href="./take-order-page.html">
            <picture>
                <source srcset="./images/sale-5.jpg 1x ,
                ./images/sale-5-2x.jpg 2x"
                media="(min-width: 320px)">
               <img class="sale-image"  src="./images/sale-5.jpg" alt="keyboard"> 
            </picture>
        <div class="price">
            <p class="price-item">RGB LED Backlit Mechanical Keyboard</p>            
        </div>
        <ul class="sale-price">
                <li class="sale-before">156.00 USD</li>
                <li class="sale-after">116.00 USD</li>
        </ul>
            </a>
        <li class="sale-item">
        <a href="./take-order-page.html">
        <picture>
            <source srcset="./images/sale-3.jpg 1x ,
            ./images/sale-3-2x.jpg 2x"
            media="(min-width: 320px)">
            <img class="sale-image"  src="./images/sale-3.jpg" alt="headphones">
        </picture>
        
        <div class="price">
            <p class="price-item">G95 Light Surround Gaming Headset</p>
            
        </div>
        <ul class="sale-price">
                <li class="sale-before">78.98 USD</li>
                <li class="sale-after">50.98 USD</li>
        </ul>
        </a>        
        </li>
        <li class="sale-item">
            <a href="./take-order-page.html">
            <picture>
                <source srcset="./images/sale-7.jpg 1x ,
                ./images/sale-7-2x.jpg 2x"
                media="(min-width: 320px)">
                <img class="sale-image"  src="./images/sale-7.jpg" alt="mouse">
            </picture>
            <div class="price">
                <p class="price-item">Malloom 1200 DPI 2.4Ghz Wireless Mouse</p>
                
            </div>
            <ul class="sale-price">
                    <li class="sale-before">44.24 USD</li>
                    <li class="sale-after">29.93 USD</li>
            </ul>
            </a>
        </li>
    </ul>
    </div>
    <div class="tablet-images">
    <ul class="sale-list">
        <li class="sale-item">
            <a href="./take-order-page.html">
            <picture>
                <source srcset="./images/sale-1.jpg 1x , 
                ./images/sale-1-2x.jpg 2x"
                media="(min-width: 320px)">
                <img class="sale-image" src="./images/sale-1.jpg" alt="headphones">
            </picture>
            
            <div class="price">
                <p class="price-item">Xiberia K9 PRO PC Headset</p>
                <ul class="sale-price">
                    <li class="sale-before">65.14 USD</li>
                    <li class="sale-after">55.14 USD</li>
            </div>
        </a>
        </li>
        <li class="sale-item">
            <a href="./take-order-page.html">
            <picture>
                <source srcset="./images/sale-2.jpg 1x , 
                ./images/sale-2-2x.jpg 2x"
                media="(min-width: 768px)">
                <img class="sale-image" src="./images/sale-2.jpg" alt="headphones">
            </picture>
            
            <div class="price">
                <p class="price-item">G95 Light Surround Gaming Headset</p>
                <ul class="sale-price">
                    <li class="sale-before">72.78 USD</li>
                    <li class="sale-after">51.78 USD</li>
            </div>
        </a>
        </li>    
        <li class="sale-item">
            <a href="./take-order-page.html">
            <picture>
                <source srcset="./images/sale-5.jpg 1x ,
                ./images/sale-5-2x.jpg 2x"
                media="(min-width: 320px)">
               <img class="sale-image"  src="./images/sale-5.jpg" alt="keyboard"> 
            </picture>
        <div class="price">
            <p class="price-item">RGB LED Backlit Mechanical Keyboard</p>
            <ul class="sale-price">
                <li class="sale-before">156.00 USD</li>
                <li class="sale-after">116.00 USD</li>
        </div>
            </a>
        </li>
        <li class="sale-item">
            <a href="./take-order-page.html">
            <picture>
                <source srcset="./images/sale-6.jpg 1x , 
                ./images/sale-6-2x.jpg 2x"
                media="(min-width: 786px)">
                <img class="sale-image" src="./images/sale-6.jpg" alt="keyboard">
            </picture>
            
            <div class="price">
                <p class="price-item">K569 RGB LED Backlit Mechanical Keyboard</p>
                <ul class="sale-price">
                    <li class="sale-before">156.98 USD</li>
                    <li class="sale-after">112.16 USD</li>
            </div>
        </a>
        </li>
        <li class="sale-item">
        <a href="./take-order-page.html">
        <picture>
            <source srcset="./images/sale-3.jpg 1x ,
            ./images/sale-3-2x.jpg 2x"
            media="(min-width: 320px)">
            <img class="sale-image"  src="./images/sale-3.jpg" alt="headphones">
        </picture>
        
        <div class="price">
            <p class="price-item">G95 Light Surround Gaming Headset</p>
            <ul class="sale-price">
                <li class="sale-before">78.98 USD</li>
                <li class="sale-after">50.98 USD</li>
        </div>
        </a>
        </li>
        <li class="sale-item">
            <a href="./take-order-page.html">
            <picture>
                <source srcset="./images/sale-8.jpg 1x , 
                ./images/sale-8-2x.jpg 2x"
                media="(min-width: 768px)">
                <img class="sale-image" src="./images/sale-8.jpg" alt="headphones">
            </picture>
            
            <div class="price">
                <p class="price-item">DARSHION 3200 DPI MZ-17 Gaming Mouse</p>
                <ul class="sale-price">
                    <li class="sale-before">48.00 USD</li>
                    <li class="sale-after">32.00 USD</li>
            </div>
        </a>
        </li>
    
        <li class="sale-item">
            <a href="./take-order-page.html">
            <picture>
                <source srcset="./images/sale-7.jpg 1x ,
                ./images/sale-7-2x.jpg 2x"
                media="(min-width: 320px)">
                <img class="sale-image"  src="./images/sale-7.jpg" alt="mouse">
            </picture>
            <div class="price">
                <p class="price-item">Malloom 1200 DPI 2.4Ghz Wireless Mouse</p>
                <ul class="sale-price">
                    <li class="sale-before">44.24 USD</li>
                    <li class="sale-after">29.93 USD</li>
            </div>
            </a>
        </li>
        <li class="sale-item">
            <a href="./take-order-page.html">
            <picture>
                <source srcset="./images/sale-4.jpg 1x , 
                ./images/sale-4-2x.jpg 2x"
                media="(min-width: 768px)">
                <img class="sale-image" src="./images/sale-4.jpg" alt="headphones">
            </picture>
            
            <div class="price">
                <p class="price-item">Logitech G230 Stereo Gaming Headset</p>
                <ul class="sale-price">
                    <li class="sale-before">160.00 USD</li>
                    <li class="sale-after">110.00 USD</li>
            </div>
        </a>
        </li>
    </ul>
    </div>
    <div class="desktop-images">
        <ul class="sale-list">
            <li class="sale-item">
                <a href="./take-order-page.html">
                <picture>
                    <source srcset="./images/sale-1.jpg 1x , 
                    ./images/sale-1-2x.jpg 2x"
                    media="(min-width: 320px)">
                    <img class="sale-image" src="./images/sale-1.jpg" alt="headphones">
                </picture>
                
                <div class="price">
                    <p class="price-item">Xiberia K9 PRO PC Headset</p>
                    <ul class="sale-price">
                        <li class="sale-before">65.14 USD</li>
                        <li class="sale-after">55.14 USD</li>
                </div>
            </a>
            </li>
            <li class="sale-item">
                <a href="./take-order-page.html">
                <picture>
                    <source srcset="./images/sale-2.jpg 1x , 
                    ./images/sale-2-2x.jpg 2x"
                    media="(min-width: 768px)">
                    <img class="sale-image" src="./images/sale-2.jpg" alt="headphones">
                </picture>
                
                <div class="price">
                    <p class="price-item">G95 Light Surround Gaming Headset</p>
                    <ul class="sale-price">
                        <li class="sale-before">72.78 USD</li>
                        <li class="sale-after">51.78 USD</li>
                </div>
            </a>
            </li>
            <li class="sale-item">
                <a href="./take-order-page.html">
                <picture>
                    <source srcset="./images/sale-3.jpg 1x ,
                    ./images/sale-3-2x.jpg 2x"
                    media="(min-width: 320px)">
                    <img class="sale-image"  src="./images/sale-3.jpg" alt="headphones">
                </picture>
                
                <div class="price">
                    <p class="price-item">G95 Light Surround Gaming Headset</p>
                    <ul class="sale-price">
                        <li class="sale-before">78.98 USD</li>
                        <li class="sale-after">50.98 USD</li>
                </div>
                </a>
            <li class="sale-item">
                <a href="./take-order-page.html">
                <picture>
                    <source srcset="./images/sale-4.jpg 1x , 
                    ./images/sale-4-2x.jpg 2x"
                    media="(min-width: 768px)">
                    <img class="sale-image" src="./images/sale-4.jpg" alt="headphones">
                </picture>
                
                <div class="price">
                    <p class="price-item">Logitech G230 Stereo Gaming Headset</p>
                    <ul class="sale-price">
                        <li class="sale-before">160.00 USD</li>
                        <li class="sale-after">110.00 USD</li>
                </div>
            </a>
            </li>
            <li class="sale-item">
                <a href="./take-order-page.html">
                <picture>
                    <source srcset="./images/sale-5.jpg 1x ,
                    ./images/sale-5-2x.jpg 2x"
                    media="(min-width: 320px)">
                   <img class="sale-image"  src="./images/sale-5.jpg" alt="keyboard"> 
                </picture>
            <div class="price">
                <p class="price-item">RGB LED Backlit Mechanical Keyboard</p>
                <ul class="sale-price">
                    <li class="sale-before">156.00 USD</li>
                    <li class="sale-after">116.00 USD</li>
            </div>
                </a>
            </li>
            <li class="sale-item">
                <a href="./take-order-page.html">
                <picture>
                    <source srcset="./images/sale-6.jpg 1x , 
                    ./images/sale-6-2x.jpg 2x"
                    media="(min-width: 786px)">
                    <img class="sale-image" src="./images/sale-6.jpg" alt="keyboard">
                </picture>
                
                <div class="price">
                    <p class="price-item">K569 RGB LED Backlit Mechanical Keyboard</p>
                    <ul class="sale-price">
                        <li class="sale-before">156.98 USD</li>
                        <li class="sale-after">112.16 USD</li>
                </div>
            </a>
            </li>
            <li class="sale-item">
                <a href="./take-order-page.html">
                <picture>
                    <source srcset="./images/sale-7.jpg 1x ,
                    ./images/sale-7-2x.jpg 2x"
                    media="(min-width: 320px)">
                    <img class="sale-image"  src="./images/sale-7.jpg" alt="mouse">
                </picture>
                <div class="price">
                    <p class="price-item">Malloom 1200 DPI 2.4Ghz Wireless Mouse</p>
                    <ul class="sale-price">
                        <li class="sale-before">44.24 USD</li>
                        <li class="sale-after">29.93 USD</li>
                </div>
                </a>
            </li>
            <li class="sale-item">
                <a href="./take-order-page.html">
                <picture>
                    <source srcset="./images/sale-8.jpg 1x , 
                    ./images/sale-8-2x.jpg 2x"
                    media="(min-width: 768px)">
                    <img class="sale-image" src="./images/sale-8.jpg" alt="headphones">
                </picture>
                
                <div class="price">
                    <p class="price-item">DARSHION 3200 DPI MZ-17 Gaming Mouse</p>
                    <ul class="sale-price">
                        <li class="sale-before">48.00 USD</li>
                        <li class="sale-after">32.00 USD</li>
                </div>
            </a>
            </li>
        </ul>
    </div>
    </div>    
    <button class="sale-button"><a href="./accessories-page.html">View all</a></button>    
    </section>
