<section class="take">
  <div class="take-order container">
    <h1 class="take_order-title-mob">Take order</h1>

    <h2 class="take_order-subtitle">Xiberia K9 PRO PC Headset</h2>
    <div class="order-mob">
      <img class="img-mob-one" src="./images/order-mobile-1.jpg" alt="" />
      <div class="order-mob-price">
        <p class="order-price-one">65.14 USD</p>
        <p class="order-price-two">55.14 USD</p>
      </div>
    </div>
    <ul class="pictures-mob list">
      <li link>
        <img
          class="pictures-link"
          srcset="./images/order-mobile-2.jpg, ./images/order-mobile-2-2x.jpg"
          src="./images/order-mobile-2.jpg"
          alt=""
        />
      </li>
      <li link>
        <img
          class="pictures-link"
          srcset="./images/order-mobile-3.jpg, ./images/order-mobile-3-2x.jpg"
          src="./images/order-mobile-3.jpg"
          alt=""
        />
      </li>
      <li link>
        <img
          class="pictures-link"
          srcset="./images/order-mobile-4.jpg, ./images/order-mobile-4-2x.jpg"
          src="./images/order-mobile-4.jpg"
          alt=""
        />
      </li>
      <li link>
        <img
          class="pictures-link"
          srcset="./images/order-mobile-5.jpg, ./images/order-mobile-5-2x.jpg"
          src="./images/order-mobile-5.jpg"
          alt=""
        />
      </li>
    </ul>
    <div class="order-input-mob">
      <h3 class="contact-order">CONTACT US</h3>
      <form action="">
        <div class="order-input-wrap">
          <label for="name"></label>
          <input
            type="text"
            class="order-input"
            name="name"
            id="name"
            required
            placeholder="name"
          />
          <label for="email"></label>
          <input
            type="email"
            class="order-input"
            name="name"
            id="email"
            required
            placeholder="email"
          />
          <!-- <input
            type="text"
            class="order-input"
            name="Color Option"
            id="Color Option"
            required
            placeholder="Color Option"
          /> -->
          <label class="order-choice" for="Color Option">
            <select
              class="order-chice-select"
              id="Color Option"
              required
              name="Color Option"
              name="Color Option"
              type="checkbox"
            >
              <option class="" value="">Выберите страну...</option>
              <option value="K9D Black Orange">K9D Black Orange</option>
              <option value="K9D Silver Gray">K9D Silver Gray</option>
              <option value="K9U White Blue">K9U White Blue</option>
            </select>
          </label>

          <input
            type="text"
            class="order-input"
            name="Quantity"
            id="Quantity"
            required
            placeholder="Quantity"
          />
          <input
            type="text"
            class="order-input"
            name="Payment"
            id="Payment"
            required
            placeholder="Payment"
          />

          <div class="order-message-lable">
            <label for="comment" class="order-lable">Leave your message</label>
            <textarea
              name="message"
              id="message"
              class="order-message"
            ></textarea>
          </div>
        </div>
        <button class="order-btn-one" type="send">buy it now</button>
        <button class="order-btn-two" type="send">ADD TO CART</button>
      </form>
    </div>

    <div class="order-btn"></div>
  </div>
</section>
