<section class="take">
  <div class="take-order container">
    <h1 class="take-order-title-mob">Take order</h1>

    <h2 class="take-order-subtitle">Xiberia K9 PRO PC Headset</h2>
    <div class="order-mob">
      <div class="picture-one">
        <picture>
          <source
            srcset="
              ./images/order-mobile-1.jpg    1x,
              ./images/order-mobile-1-2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <source
            srcset="
              ./images/order-desktop-1.jpg    1x,
              ./images/order-desktop-1-2x.jpg 2x
            "
            media="(max-width: 1280px)"
          />
          <img
            class="img-mob-one"
            src="./images/order-desktop-1.jpg"
            alt=""
            width="450px"
          />
        </picture>
      </div>
      <div class="order-price desktop"></div>

      <div class="order-mob-price">
        <p class="order-price-one">65.14 USD</p>
        <p class="order-price-two">55.14 USD</p>
      </div>
    </div>
    <ul class="pictures-mob list">
      <li link>
        <picture>
          <source
            srcset="
              ./images/order-mobile-2.jpg    1x,
              ./images/order-mobile-2-2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <source
            srcset="
              ./images/order-tablet-2.jpg    1x,
              ./images/order-tablet-2-2x.jpg 2x
            "
            media="(max-width: 1280px)"
          />
          <img
            class="pictures-link"
            src="./images/order-mobile-2.jpg"
            alt=""
            width="250px"
          />
        </picture>
      </li>
      <li link>
        <picture>
          <source
            srcset="
              ./images/order-mobile-3.jpg    1x,
              ./images/order-mobile-3-2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <source
            srcset="
              ./images/order-tablet-3.jpg    1x,
              ./images/order-tablet-3-2x.jpg 2x
            "
            media="(max-width: 1280px)"
          />
          <img
            class="pictures-link"
            src="./images/order-mobile-3.jpg"
            alt=""
            width="250px"
          />
        </picture>
      </li>
      <li link>
        <picture>
          <source
            srcset="
              ./images/order-mobile-4.jpg    1x,
              ./images/order-mobile-4-2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <source
            srcset="
              ./images/order-tablet-4.jpg    1x,
              ./images/order-tablet-4-2x.jpg 2x
            "
            media="(max-width: 1280px)"
          />
          <img
            class="pictures-link"
            src="./images/order-mobile-4.jpg"
            alt=""
            width="250px"
          />
        </picture>
      </li>
      <li link>
        <picture>
          <source
            srcset="
              ./images/order-mobile-5.jpg    1x,
              ./images/order-mobile-5-2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <source
            srcset="
              ./images/order-tablet-5.jpg    1x,
              ./images/order-tablet-5-2x.jpg 2x
            "
            media="(max-width: 1280px)"
          />
          <img
            class="pictures-link"
            src="./images/order-mobile-5.jpg"
            alt=""
            width="250px"
          />
        </picture>
      </li>
    </ul>

    <!-- desktop -->
    <div class="order-desktop">
      <div class="order-desktop-part1">
        <picture>
          <source
            srcset="
              ./images/order-desktop-1.jpg    1x,
              ./images/order-desktop-1-2x.jpg 2x
            "
            media="(max-width: 1280px)"
          />
          <img
            class="img-mob-one"
            src="./images/order-desktop-1.jpg"
            alt=""
            width="450px"
          />
        </picture>
      </div>
      <div class="order-desktop-part2">
        <h2 class="take-order-subtitle-desk">Xiberia K9 PRO PC Headset</h2>
        <div class="order-mob-price-desk">
          <p class="order-price-one-desk">65.14 USD</p>
          <p class="order-price-two-desk">55.14 USD</p>
        </div>
        <ul class="pictures-desk list">
          <li link>
            <picture>
              <source
                srcset="
                  ./images/order-tablet-2.jpg    1x,
                  ./images/order-tablet-2-2x.jpg 2x
                "
                media="(max-width: 1280px)"
              />
              <img
                class="pictures-link-desk"
                src="./images/order-tablet-2.jpg"
                alt=""
                width="150px"
              />
            </picture>
          </li>
          <li link>
            <picture>
              <source
                srcset="
                  ./images/order-tablet-3.jpg    1x,
                  ./images/order-tablet-3-2x.jpg 2x
                "
                media="(max-width: 1280px)"
              />
              <img
                class="pictures-link-desk"
                src="./images/order-tablet-3.jpg"
                alt=""
                width="150px"
              />
            </picture>
          </li>
          <li link>
            <picture>
              <source
                srcset="
                  ./images/order-tablet-4.jpg    1x,
                  ./images/order-tablet-4-2x.jpg 2x
                "
                media="(max-width: 1280px)"
              />
              <img
                class="pictures-link-desk"
                src="./images/order-tablet-4.jpg"
                alt=""
                width="150px"
              />
            </picture>
          </li>
          <li link>
            <picture>
              <source
                srcset="
                  ./images/order-tablet-5.jpg    1x,
                  ./images/order-tablet-5-2x.jpg 2x
                "
                media="(max-width: 1280px)"
              />
              <img
                class="pictures-link-desk"
                src="./images/order-tablet-5.jpg "
                alt=""
                width="150px"
              />
            </picture>
          </li>
        </ul>
      </div>
    </div>
    <div class="order-input-mob">
      <h3 class="contact-order">CONTACT US</h3>

      <form action="">
        <div class="input-desk">
          <div>
            <div class="order-input-wrap">
              <label for="name"></label>
              <input
                type="text"
                class="order-input"
                name="name"
                id="name"
                required
                placeholder="name"
              />
            </div>
            <div class="order-input-wrap">
              <label for="email"></label>
              <input
                type="email"
                class="order-input"
                name="name"
                id="email"
                required
                placeholder="email"
              />
            </div>

            <div class="order-choice">
              <label class="order-choice-leb" for="Color Option">
                <svg class="choice-icon" width="18" height="13">
                  <use
                    class="icon"
                    href="./images/icons.svg#icon-details-down"
                  ></use>
                </svg>
                <select
                  class="order-choice-select"
                  id="Color Option"
                  required
                  name="Color Option"
                >
                  <option class="choice-name" value="">Color Option</option>
                  <option value="K9D Black Orange">K9D Black Orange</option>
                  <option value="K9D Silver Gray">K9D Silver Gray</option>
                  <option value="K9U White Blue">K9U White Blue</option>
                </select>
              </label>
            </div>

            <div class="order-choice">
              <label class="order-choice-leb" for="Quantity">
                <svg class="choice-icon" width="18" height="13">
                  <use href="./images/icons.svg#icon-details-down"></use>
                </svg>
                <select
                  class="order-choice-select"
                  id="Quantity"
                  name="Quantity"
                >
                  <option class="choice-name" value="">Quantity</option>
                </select>
              </label>
            </div>
            <div class="order-choice">
              <label class="order-choice-leb" for="Payment">
                <svg class="choice-icon" width="18" height="13">
                  <use href="./images/icons.svg#icon-details-down"></use>
                </svg>
                <select class="order-choice-select" id="Payment" name="Payment">
                  <option class="choice-name" value="">Payment</option>
                </select>
              </label>
            </div>
          </div>

          <div class="order-message-lable">
            <label for="comment" class="order-lable">Leave your message</label>
            <textarea
              name="message"
              id="message"
              class="order-message"
            ></textarea>
          </div>
        </div>

        <div class="order-btn">
          <button class="order-btn-one" type="send">buy it now</button>
          <button class="order-btn-two" type="send">ADD TO CART</button>
        </div>
      </form>
    </div>
  </div>
</section>
