
.container-article{
    background-color: var(--background-color);
    color: var(--main-title-color);
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 48px;
    @include mobile {
        padding-top: 20px;
        padding-left: 40px;
        padding-right: 40px;
    }
    @include tablet {
        padding-top: 24px;
        padding-bottom: 120px;
    }
    @include desktop {
    padding-bottom: 120px;
     padding-top: 16px;
    }    
}


.conva{

    background-image:url("../images/blog-article-vector-27-mobile.png"), 
    url("../images/blog-article-vector-26-mobile.png");
    padding-top: 40px;
    width: 100%;
    height: 130px;
    margin: 0 auto;
    align-content: center;
    background-size: 320px, 320px, cover;
    background-repeat: no-repeat;
    background-position: top 80px left 0px, top 76px left 0px;
    background-color: var(--background-color); 
    
    

    @include retina{
    background-image:url("../images/blog-article-vector-27-mobile-2x.png"), 
    url("../images/blog-article-vector-26-mobile-2x.png");
    background-size: 100%, 100%, cover;
    background-repeat: no-repeat;
    background-position: top 80px left 0px, top 76px left 0px;

    }
    @media screen and (max-width: 479px) {
    background-color:var(--background-color);
    padding-top: 40px;
    width: 100%;
    }
    @include mobile {
        width: 480px;
        height: 130px;
        margin: auto;
        text-align: center;
        background-image:url("../images/blog-article-vector-27-mobile.png"), 
        url("../images/blog-article-vector-26-mobile.png");

        background-image:url("../images/blog-article-vector-27-mobile-2x.png"), 
        url("../images/blog-article-vector-26-mobile-2x.png");
        background-size: 100%, 100%, cover;
    background-repeat: no-repeat;
    background-position: top 80px left 0px, top 76px left 0px;
    }

    @include tablet{
    padding-top: 120px;
    width: 768px;
    height: 304px; 
    background-image: url("../images/blog-article-vector-22-tablet.png"),      
    url("../images/blog-article-vector-24-tablet.png"), 
    url("../images/blog-article-vector-22-tablet-2x.png"),      
    url("../images/blog-article-vector-24-tablet-2x.png") ;
    background-size: 768px, 768px, cover;
    background-repeat: no-repeat;
    background-position: top 256px left 0px, top 249px left 0px, top 256px left 0px, top 249px left 0px;
}
@include desktop{
padding-top: 112px;
 width: 1280px;
height: 230px;   
background-image: url("../images/blog-article-vector-22-desktop.png"),      
url("../images/blog-article-vector-24-desktop.png"), url("../images/blog-article-vector-22-desktop-2x.png"),      
url("../images/blog-article-vector-24-desktop-2x.png") ;
background-size: 1280px, 1280px, cover;
background-repeat: no-repeat;
background-position: top 182px left 0px, top 174px left 0px, top 182px left 0px, top 174px left 0px;
}
}


.article-title{
padding-left: 16px;
font-family: 'Roboto';
font-style: normal;
color: var(--main-title-color);
@include font(500, 24px, 1.16);
@include tablet {
@include font(500, 56px, 1);
padding-left: 40px;
padding-bottom: 24px;
}
@include desktop {
@include font(600, 56px, 1);
padding-left: 40px;
padding-bottom: 16px;
}
}
.article-game{
   width: 100%;
   @media screen and (max-width: 479px) {
    padding-left: 0x;
    padding-right: 0px;
}
    @include mobile {
        width: 400px;
        height: 316px;
    }
    @include tablet {
        width: 688px;
        height: 244;
        display: flex;
    }
    @include desktop {
        width: 1200px;
        height: 396px;
        display: flex;
    }}
    .article-photo{
        display: block;
        border-radius: 12px;  
      
        @media screen and (maw-width: 479px) {
        width: 100%;}
        @include mobile {
        width: 320px;
         height: 228px; }
         @include tablet {
         width: 387px;
        height: 228px; 
        border-radius: 12px;}   
         @include desktop {
        width: 387px;
        height: 384px;
        display: block;
        padding-top: 48px;
        border-radius: 12px; 
        overflow: hidden;
                } 
    }
    .article-text{
        width: 288px;
        height: 68px;
        @include tablet {
         width: 260px;
         height: 244px;
        justify-content:  flex-end;
        margin-left: auto;
        display: block; }
        @include desktop {
          width: 690px;  
        }}
.article-data{
    padding-top: 20px;
    @include tablet {
    padding-top: 100px;}
    @include desktop {
    display: flex;
    padding-top: 16px;}
}
.article-data-item1, .article-data-item2{
    display: block;
}
.article-data-item1{
    @include font(500, 16px, 1);
    color: var(--main-title-color);
    padding-bottom: 8px;
    @include tablet {
    width: 134px;
    @include font(500, 24px, 1);
    color: var(--second-text-color);
    padding-bottom: 32px;}
    @include desktop {
    width: 250px;
    @include font(500, 24px, 1);
    color: var(--second-text-color);
                }
}
.article-data-item2{
    @include font(500, 16px, 1);
    color:var(--data-text-color);
    @include mobile {
     @include font(500, 16px, 1);
     color:var(--data-text-color);}
    @include tablet {
    @include font(500, 24px, 1);
    color:var(--data-text-color);}    
    @include desktop {
     margin-left: auto;
     @include font(500, 24px, 1);
     color:var(--data-text-color);} 
}
.text-v{
    display: none;
    @include desktop{
    display: block;
    }
}
 .text-n{
    @include desktop{
    display: none;
 }   
}
.article-text-property{
    @include font(400, 16px, 1.16);
    color: var(--main-title-color);
    @include mobile {
    @include font(400, 16px, 1.187);
    color: var(--main-title-color);
}
    @include tablet {
    padding-top: 0;
    @include font(400, 24px, 1.16);
}
    @include desktop{
    padding-top: 48px;
    @include font(400, 24px, 1.16);
    color: var(--main-title-color);}
}
.article-text-p{
    @include font(400, 16px, 1.187);
    color: var(--main-title-color);
    @include mobile {
    @include font(400, 16px, 1.187);
    color: var(--main-title-color);}
    @include tablet {
    @include font(400, 24px, 1.16);
    color: var(--main-title-color);}
    @include desktop{
    @include font(400, 24px, 1.16);
    color: var(--main-title-color);}
}

.article-text-ol{
    @include font(400, 16px, 1.1875);
    @include tablet {
    padding-top: 0;
    @include font(400, 24px, 1.16);
    color: var(--second-text-color);}
     @include desktop{ 
     @include font(400, 24px, 1.16);
     color: var(--second-text-color);
    }
}
.article-margin-li{
    margin-left: 30px;
}