.blog {  
  background-color: var(--background-color);
}
.blog-page {
  padding: 40px 0 48px;
  background-image: url("/src/images/blog-vector-26-mobile.png"),
        url("/src/images/blog-vector-27-mobile.png"),
        url("../images/background-mobile.jpg");
    
    background-repeat: no-repeat;
    background-size:100%, 100%, cover;
    background-position: top 50px left 0px, top 54px left 0px, center;
    margin-left: auto;
    margin-right: auto;
    
    @include retina {
        background-image: url("/src/images/blog-vector-26-mobile-2x.png"),
            url("/src/images/blog-vector-27-mobile-2x.png"),
            url("../images/background-mobile-2x.jpg");    
    }
    @include mobile {        
        background-position: top 40px left 0px, top 48px left 0px, center;
    }
    @include tablet {        
        padding-bottom: 120px;       
        background-image: url("/src/images/blog-vector-24-tablet.png"),
            url("/src/images/blog-vector-22-tablet.png"),
            url("../images/background-tablet.jpg");
        background-position: top 169px left 0px, top 177px left 0px, center;
        @include retina {
            background-image: url("/src/images/blog-vector-24-tablet-2x.png"),
                url("/src/images/blog-vector-22-tablet-2x.png"),
                url("../images/background-tablet-2x.jpg");        
        }
    }
    @include desktop {        
        background-image: url("/src/images/blog-vector-24-desktop.png"),
            url("/src/images/blog-vector-22-desktop.png"),
            url("../images/background-desktop-3.jpg");
        background-position: top 169px left 0px, top 177px left 0px, bottom 0px left 0px;
        @include retina {
            background-image: url("/src/images/blog-vector-24-desktop-2x.png"),
                url("/src/images/blog-vector-22-desktop-2x.png"),
                url("../images/background-desktop-3-2x.jpg");
        }
    }    
  @media screen and (max-width: 479px) {
    padding: 0;
  }
  @include tablet {
    padding: 120px 0;
  }
}
.blog-title {
  margin-left: 16px;
  margin-bottom: 31px;
  @include font (500, 24, 1.667);
  color: var(--main-title-color);
  @include tablet {
    font-size: 56px;
    line-height: 1.1785;
    margin-left: 59px;
    margin-bottom: 67px;
  }
  @include desktop {
    margin-left: 102px;
    margin-bottom: 75px;
  }
}

.blog-list {
  color: var(--main-title-color);
  @include font (500, 16, 1.19);  

  @include tablet {
    font-size: 24px;
    line-height: 1;

  picture {
    img {
      border-radius: 12px;
      overflow: hidden;
    }
  }

    &__tablet {
      display: flex;
      align-items: flex-end;
      margin-bottom: 16px;

      @include desktop {
        margin-bottom: 24px;
      }

      picture {
        width: 387px;
        @include desktop {
          display: none;
        }
      }

      .blog-list__metadata {
        flex: 1;
      }
    }
  }

  @include desktop {
    &__desktop-text {
      margin-left: 121px;
      flex: 1;
    }
  }

  &__item {
    margin-bottom: 24px;

    @include tablet {
      margin-bottom: 40px;
    }
    @include desktop {
      display: flex;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__desktop-picture {
    display: none;

    @include desktop {
      display: block;
    }
  }

  h3 {
    @include font (500, 24px, 1.667);
    margin-bottom: 16px;
    @include tablet {
      font-size: 56px;
      line-height: 1;
    }
    @include desktop {
      margin-bottom: 52px;
    }
  }
  img {
    width: 100%;
  }
  &__metadata {
    margin-bottom: 16px;

    @include tablet {
      margin-left: 40px;
      margin-bottom: 0;
    }

    @include desktop {
      display: flex;
      justify-content: space-between;
      margin-left: 0;
    }

    & > div {
      margin-top: 8px;

      @include tablet {
        margin-top: 32px;
        &:first-child {
          margin-top: 0;
        }
      }
      @include desktop {
        margin-top: 0;
      }
    }
  }
  &__date {
    color: var(--second-card-color);
  }
  p {
    font-weight: 400;
  }
  &__readmore {
    text-align: right;
    margin-top: 8px;

    @include tablet {
      margin-top: 16px;
    }

    a {
      color: var(--accent-color);
    }
  }
}
.blog-list-title {
  @media screen and (max-width: 479px) {
    margin-left: 16px;
    margin-right: 16px;
  }
}
.blog-list__author {
  @media screen and (max-width: 479px) {
    margin-left: 16px;
  }
}
.blog-list__date {
  @media screen and (max-width: 479px) {
    margin-left: 16px;
  }
}
p {
  @media screen and (max-width: 479px) {
    margin-left: 16px;
    margin-right: 16px;
  }
}
.blog-link {
  @media screen and (max-width: 479px) {
    margin-right: 16px;
  }
}