*,
*::before,
*::after {
    box-sizing: border-box;
}

img {
    display: block;
}

body {
    margin: 0 auto;
}

.hero {
    background-color: var(--background-color);
    display: block;
    top: 50px;
}

.container-hero {
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 497px;
    
    padding-top: 180px;
    background-image: url(/src/images/hero-bg.jpg);
    @include retina {
        background-image: url(/src/images/hero-bg-2x.jpg);
    }
    background-repeat: no-repeat;
    background-size: 1088px 615px;
    background-position: bottom -10px right -185px;
    @include mobile {
        width: 480px;
    }
    @include tablet {
        width: 768px;
        height: 724px;
        padding-top: 163px;
        padding-left: 41px;
        background-size: 1152px 774px;
        background-position: top -50px right -65px;
    }
    
    @include desktop {
        padding-top: 316px;
        padding-left: 142px;
        background-size: contain;
        background-position: top 0 right 0;
        margin-top: -136px;
        width: 1280px;
        height: 860px;
    }
}

.hero__icon1 {
    position: absolute;
    top: 73px;
    left: 29px;
    transform: rotate(-29deg);
    mix-blend-mode: luminosity;
    @include tablet {
        top: 49px;
        left: auto;
        right: 165px;
        width: 100px;
        transform: rotate(-31.92deg);
    }
    @include desktop {
        top: 200px;
        right: 458px;
        width: 133px;
        transform: rotate(-34deg);
    }
}
    
.hero__icon2 {
    position: absolute;
    top: -25px;
    right: -5px;
    transform: rotate(28deg);
    mix-blend-mode: luminosity;
    @include tablet {
        top: 226px;
        right: 20px;
        left: auto;
        width: 180px;
        transform: rotate(10.77deg);
    }
    @include desktop {
        top: 290px;
        right: 91px;
        width: 270px;
        transform: rotate(18deg);
    }
}
    
.hero__icon3 {
    position: absolute;
    bottom: 23px;
    right: 74px;
    transform: rotate(24deg);
    mix-blend-mode: luminosity;
    @include tablet {
        bottom: 128px;
        right: 188px;
        width: 143px;
        transform: rotate(21.68deg);
    }
    @include desktop {
        bottom: 82px;
        right: 447px;
        width: 230px;
        transform: rotate(30deg);
    }
}

.hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    @include tablet {
        align-items: baseline;
        gap: 96px;
    }
    @include desktop {
        gap: 40px;
        padding: 0 100px;
    }
}

.hero__title {
    font-weight: 500;
    font-size: 32px;
    line-height: 1.18;
    text-align: center;
    color: var(--main-title-color);
    @include tablet {
        width: 436px;
        font-size: 56px;
        line-height: 1.17;
        text-align: start;
    }
    @include desktop {
        font-size: 64px;
        line-height: 1.18;
    }
}
.title-br {
    @include tablet {
        display: none;
    }
}

.hero__link {
    @include font (700, 16px, 1.18);
    text-transform: uppercase;
    color: var(--main-btn-color);
    @include tablet {
        font-size: 32px;
        line-height: 1.18;
    }
    padding: 16px 20px;
    background: var(--second-btn-color);
    border-radius: 16px;
    transition: var(--cubic-bezier);
    &:hover,
    :focus {
        box-shadow: 0px 8px 20px rgba(134, 229, 67, 0.5),
        0px 4px 10px rgba(255, 255, 255, 0.1);
    }
}