.page-header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 104px;
  width: 100%;
  z-index: 1;
  background-color: var(--background-color);

  box-shadow: 0px 4px 10px rgba(97, 162, 58, 0.2),
    0px 4px 50px rgba(94, 236, 54, 0.5), 0px 4px 4px rgba(17, 168, 26, 0.2);

  text-align: center;
  padding: 0 16px;
  
  @include tablet {
    width: 100%;
    height: 136px;
    padding-left: 40px;
    padding-right: 40px;
    margin: 0 auto;
  }
}

.header-logo {
  font-family: var(--main-font);
  @include font(700, 24px, 1.16);
  color: var(--main-title-color);
  padding-top: 24px;
  padding-bottom: 24px;
}

.menu-close-btn {
  display: block;
  margin-left: auto;
  background-color: transparent;
  border: none;
  z-index: 3;

  @include desktop {
    display: none;
  }
}

.menu-close-btn .icon-close {
	display: none;
	
}

.menu-close-btn.is-open .icon-close {
	display: block;
}

.menu-close-btn.is-open .icon-open {
	display: none;
}

.icon-open { 
  fill: var(--second-btn-color);
}

.menu-nav {
  display: none;
  @include desktop {
    display: flex;
	 
  }
}

.menu-nav {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 100%;
  padding-top: 64px;

  @include tablet {
    padding-top: 120px;
  }

  @include desktop {
    display: flex;
    flex-direction: row;
    gap: 48px;
    padding-top: 0;
	 
  }
}

.menu-nav__item {
  padding-bottom: 40px;

  @include desktop {
    flex-direction: row;
    padding-bottom: 0;
  }
}

.menu-nav__link {
  font-family: var(--main-font);
  @include font(700, 24px, 1.16);
  color: var(--main-title-color);
  text-transform: uppercase;

  @include tablet {
    @include font(700, 32px, 1.18);
  }

  @include desktop {
    @include font(400, 16px, 1);
    text-transform: capitalize;
  }
}

.btn-shop {
  border-radius: 16px;
  border: none;
  background: #86e543;
  display: none;

  @include tablet {
    display: flex;
  }
}
.btn-shop:hover {
	background-color: #86E543;
	box-shadow: 0px 8px 20px rgba(134, 229, 67, 0.5), 0px 4px 10px rgba(255, 255, 255, 0.1);
	transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-shop__link {
  font-family: var(--main-font);
  @include font(700, 14px, 1);
  color: #000000;
  padding: 16px 20px;
}



.menu{
position: fixed;
	top: 104px;
	left: 0;

	height: 100vh;
	width: 100vw;
	background-image: url(/src/images/background-menu-tablet.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	opacity: 1;
	visibility: visible;
	z-index: 2;

	transform: translateY(0%);
	transition: transform 3000ms cubic-bezier(0.4, 0, 0.2, 1);

	@include tablet {
		top: 136px;
		background-image: url(/src/images/background-menu-tablet.jpg);
	}

	@include desktop {
		display: none;
	}
}



.menu.is-hidden {
	visibility: hidden;
	opacity: 0;
	pointer-events: none;
}

