.sale-title {
    font-family: var(--main-font);
    @include font (600, 24, 1.1667);
    color: var( --main-title-color);
    margin-left: 80px;
    margin-bottom: 35px;    
    @include tablet{
        margin-left: 142px;
        @include font (600, 56, 1.1785);
    }    
}

.sale{
    position: relative;
    display: flex;    
    padding-bottom: 48px;
    background-image: url("/src/images/sale-vector-21-mobile.png"),      
    url("/src/images/sale-vector-22-mobile.png"),
    url("../images/background-mobile.jpg");
    
    background-repeat: no-repeat;
    background-size: 320px, 320px, cover;
    background-position: top 28px left 0px, top 32px left 0px, center;
    margin-left: auto;
    margin-right: auto;
    
    // @include retina {
    //     background-image: url(../images/background-mobile-2x.jpg);
    //     url(../images/sale-vector-21-mobile-2x.png),
    //     url(../images/sale-vector-22-mobile-2x.png);
    // }
    @include tablet{        
        padding-bottom: 120px;
        // background-position: top 120px left 0px, top 112px left 0px, top 0px left 0px;  
        background-image: url("../images/sale-vector-21-tablet.png"),
        url("../images/sale-vector-22-tablet.png"),
        url("../images/background-tablet.jpg");
        
        background-size: 768px, 768px, cover;
        background-position: top 66px left 0px, top 74px left 0px, center;

        // @include retina{
        //     background-image: url(../images/background-tablet-2x.jpg);
        //     url(../images/sale-vector-21-tablet-2x.png),
        //     url(../images/sale-vector-22-tablet-2x.png);
        // }
    }
    @include desktop{
        
        width: 100%;
        
        // background-size: 1280px, 1280px;
        // background-position: top 120px left 0px, top 112px left 0px, top 0px left 0px;  
        background-image: url("../images/sale-vector-21-desktop.png"),
        url("../images/sale-vector-22-desktop.png"),
        url("../images/background-desktop-1.jpg");
        background-size: 1280px, 1280px, cover;
        background-position: top 66px left 0px, top 74px left 0px, center;
        
        // @include retina{
        //     background-image: url(../images/background-desktop-1-2x.jpg);
        //     url(../images/sale-vector-21-desktop-2x.png),
        //     url(../images/sale-vector-22-desktop-2x.png);
        // }
    }
}

.sale-list{
    @include tablet{
    display: flex;
    flex-wrap: wrap;
    gap: 38px;
    }
    @include desktop{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    }
}

.sale-item{
    display: block;
    width: 100%;
    @include tablet{
        width: calc((100% - 38px) / 2);
    }

    @include desktop{
        width: calc((100% - 20px * 3) / 4);  
    }
    
}

.mobile-images{
   
    @include mobile{
        display: block;
    }
    @include tablet{
        display: none;
    }
    @include desktop{
        display: none;
    }
}

.tablet-images{
    @include mobile{
    display: none;
    }
   @include tablet{
    display: block;
   }
   @include desktop{
    display: none;
   }

}
.desktop-images{
    @include mobile{
        display: none;
    }
    @include tablet{
        display: none;
    }
    @include desktop{
        display: block;
    }
}

.sale-image {
    width: 100%;
    align-items: center;
    border-radius: 12px;
    margin-bottom: 8px;

}

.price {
   margin-bottom: 44px;
   max-width: 285px;
}

.price-item {
    @include font(600, 22, 1.18);
    color: var( --accent-color);
    margin-bottom: 11px;
    width: 261px;
}

.sale-price {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-between;
}
.sale-before {
 @include font(600, 14, 1);
 text-decoration-line: line-through;
color: #8D9289;
}
.sale-after {
    @include font(600, 20, 1);
    color: var(--accent-color);
}

.sale-button{
   
    @include font(700, 16, 1.1875);
    margin: 0 auto;
    color: var(--main-btn-color);
    padding: 16px 48px;
    display: block;
    // flex-direction: row;
    justify-content: center;
    align-items: center;
    // display: flex;
    border-radius: 16px;
}