.container{
    position: relative;
}

.top-line{
   
//    max-width: 319px;
    height: 1px;
    border: 0 none;
    margin-top: 10px;
    background-color: var(--accent-color);

    @include tablet{
        max-width: 1280px;
    }
}

.bottom-line{
   
//    max-width: 321px;
    height: 1px;
    border: 0 none;
    
    background-color: #28780D;
    @include tablet{
        max-width: 1280px;
    }
}

.middle-line{
    height: 1px;
    width: 20px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    rotate: (90deg);
    background-color: var(--accent-color);

}

.lines{
max-width: 1280px;
margin-bottom: 24px;
}
.lines::after, .lines::before{
    content: "";
    position: absolute;
    margin: auto;
    height: 1px;
    border: 0 none;

}
.lines::after{
    left: 0;
    background-color: var(--accent-color);
}
.lines::before{
    right: 0;
    background-color: #28780D ;
}


.sale{
    display: flex;
    padding-top: 48px;
    padding-bottom: 48px;
    background-image: url(../images/background-mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-left: auto;
    margin-right: auto;
    
    @include retina {
        background-image: url(../images/background-mobile-2x.jpg);
    }
    @include tablet{
        padding-top: 120px;
        padding-bottom: 120px;
        background-image: url(../images/background-tablet.jpg);
        @include retina{
            background-image: url(../images/background-tablet-2x.jpg);
        }
    }
    @include desktop{
        padding-top: 120px;
        padding-bottom: 120px;
        width: 100%;
        background-image: url(../images/background-desktop-1.jpg);
        @include retina{
            background-image: url(../images/background-desktop-1-2x.jpg);
        }
    }
}


.sale-title {
font-family: var(--main-font);
@include font (600, 24, 1.16, auto);
color: var( --main-title-color);
// margin-bottom: 35px;
margin-left: 80px;
@include tablet{
    margin-left: 142px;
}

}

.sale-list{
    @include tablet{
    display: flex;
    flex-wrap: wrap;
    gap: 38px;
    }
    @include desktop{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    }
}

.sale-item{
    display: block;
    width: 100%;
    @include tablet{
        width: calc((100% - 38px) / 2);
    }

    @include desktop{
        width: calc((100% - 20px * 3) / 4);  
    }
    
}

.mobile-images{
    @include mobile{
        display: block;
    }
    @include tablet{
        display: none;
    }
    @include desktop{
        display: none;
    }
}

.tablet-images{
    @include mobile{
    display: none;
    }
   @include tablet{
    display: block;
   }
   @include desktop{
    display: none;
   }

}
.desktop-images{
    @include mobile{
        display: none;
    }
    @include tablet{
        display: none;
    }
    @include desktop{
        display: block;
    }
}

.sale-image {
    width: 100%;
    align-items: center;
    border-radius: 12px;
    margin-bottom: 8px;

}

.price {
   margin-bottom: 44px;
   max-width: 285px;
}

.price-item {
    @include font(600, 22, 1.18, auto);
    color: var( --accent-color);
    margin-bottom: 11px;
    width: 261px;
}

.sale-price {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-between;
}
.sale-before {
 @include font(600, 14, 100%, auto);
 text-decoration-line: line-through;
color: #8D9289;
}
.sale-after {
    @include font(600, 20, 100%, auto);
    color: var(--accent-color);
}

.sale-button{

    @include font(700, 16, 1.1875, null);
    margin: 0 auto;
    color: var(--main-btn-color);
    padding: 16px 48px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 16px;
}